<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Untitled Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <style>

    </style>
  </head>
  <body>
  <h1><center>Pgp Glass Work Permit</center></h1><br/><br/>
  <table style="width: 100%;border-collapse: collapse;margin: 50px auto;display: block;">
    {% for data in data %}
    <tr style="border: 1px solid #e86519 !important;display: block;">
       <td><h1>Permit Number : <u>{{ data.permitnumber }}</u></h1></td>
       <td><h1>Date Of Permit : <u>{{ data.date }}</u></h1></td>
       <td><h1>Start Time : <u>{{ data.startTime }}</u></h1></td>
    </tr>

  </table> <br/><br/>

  <table>
     <tr>
       <td><h1>Place : <u>{{ data.location }}</u></h1></td>
       <td><h1>Equipment : <u>{{ equipment }}</u></h1></td>
    </tr>
  </table><br/><br/>
  <table>
    <tr>
    <td><h1>Tool Required : <u>{{ toolRequired }}</u></h1></td>
      <td><h1>PPE Required : <u>{{ ppeRequired }}</u></h1></td>
      <td><h1>Working Agency : <u>{{ workingAgency }}</u></h1></td>
    </tr>
  </table>
    <table
      cellspacing="0"
      cellpadding="25"
      style="width: 60%; margin: 125px auto" >
    <tr>
      <td colspan="4">
      </td>
    </tr>
      <tr style="margin-bottom: 35px">
       <td width="10" height="25">

        </td>
        <td></td>
        <td width="10">
          <input value="sdfDFerw" />
        </td>

        <td></td>
        <td></td>
      </tr>

      <!-- check box start -->
      <tr>
        <td style="margin: 35px">
          <div style="display: flex; align-items: center">
            <input
              style="width: 28px; height: 28px; margin: 0px 12px 0px 0px"
              type="checkbox"
            /><span>Height Work</span>
          </div>
        </td>
        <td style="margin: 35px">
          <div style="display: flex; align-items: center">
            <input
              style="width: 28px; height: 28px; margin: 0px 12px 0px 0px"
              type="checkbox"
            /><span>Hot Work</span>
          </div>
        </td>
        <td style="margin: 35px">
          <div style="display: flex; align-items: center">
            <input
              style="width: 28px; height: 28px; margin: 0px 12px 0px 0px"
              type="checkbox"
            /><span>Civil Work</span>
          </div>
        </td>
        <td style="margin: 35px">
          <div style="display: flex; align-items: center">
            <input
              style="width: 28px; height: 28px; margin: 0px 12px 0px 0px"
              type="checkbox"
            /><span>Cold Work</span>
          </div>
        </td>
        <td style="margin: 35px">
          <div style="display: flex; align-items: center">
            <input
              style="width: 28px; height: 28px; margin: 0px 12px 0px 0px"
              type="checkbox"
            /><span>Confined Space</span>
          </div>
        </td>
      </tr>
      <!-- check box end -->

      <tr style="margin-bottom: 35px">
        <td height="25">
          <input value="100" />
        </td>

        <td>
          <input value="sdfDFerw" />
        </td>
        <td  style="width: 12.5%; height: 18px;">Time</td>
        <td><input value="6:00 PM" /></td>
        <td width="10">to</td>
        <td><input value="9:00 PM" /></td>
      </tr>

      <tr>
        <td colspan="2" width="50%" height="25">
          <input style="width: 100%" value="100" />
        </td>

        <td colspan="2" width="50%">
          <input style="width: 100%" value="100" />
        </td>
      </tr>
      <tr>
        <td colspan="2" width="50%" height="25">
          <input style="width: 100%" value="100" />
        </td>

        <td colspan="2" width="50%">
          <input style="width: 100%" value="100" />
        </td>
      </tr>

      <tr>
        <td colspan="2" width="50%" height="25">
          <input style="width: 100%" value="100" />
        </td>

        <td colspan="2" width="50%">
          <input style="width: 100%" value="100" />
        </td>
      </tr>

      <tr>
        <td colspan="4" width="50%" height="25">
          <textarea style="width: 100%; height: 85px"> </textarea>
        </td>
      </tr>

      <!-- 17 check box code -->

      <tr>
        <td colspan="4">
          <h6 style="font-size: 20px" class="form-select-lg fs-20">
            Check Points
          </h6>
        </td>
      </tr>
      <tr>
        <td colspan="2" data-column="First Name">
          1. Has equipment been drained/Process Materials Removed?
        </td>
        <td data-column="Last Name">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-1-yes"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-1-yes">Yes</label>
          </div>
        </td>
        <td data-column="Job Title">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-1-no"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-1-no">No</label>
          </div>
        </td>
        <td data-column="Twitter">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-1-na"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-1-na">N/A</label>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" data-column="First Name">
          2. Has equipment been drained/Process Materials Removed?
        </td>
        <td data-column="Last Name">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-2-yes"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-2-yes">Yes</label>
          </div>
        </td>
        <td data-column="Job Title">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-2-no"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-2-no">No</label>
          </div>
        </td>
        <td data-column="Twitter">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-2-na"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-2-na">N/A</label>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" data-column="First Name">
          3. Has equipment been drained/Process Materials Removed?
        </td>
        <td data-column="Last Name">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-3-yes"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-3-yes">Yes</label>
          </div>
        </td>
        <td data-column="Job Title">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-3-no"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-3-no">No</label>
          </div>
        </td>
        <td data-column="Twitter">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-3-na"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-3-na">N/A</label>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" data-column="First Name">
          4. Has equipment been drained/Process Materials Removed?
        </td>
        <td data-column="Last Name">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-4-yes"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-4-yes">Yes</label>
          </div>
        </td>
        <td data-column="Job Title">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-4-no"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-4-no">No</label>
          </div>
        </td>
        <td data-column="Twitter">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-4-na"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-4-na">N/A</label>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" data-column="First Name">
          5. Has equipment been drained/Process Materials Removed?
        </td>
        <td data-column="Last Name">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-5-yes"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-5-yes">Yes</label>
          </div>
        </td>
        <td data-column="Job Title">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-5-no"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-5-no">No</label>
          </div>
        </td>
        <td data-column="Twitter">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-5-na"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-5-na">N/A</label>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" data-column="First Name">
          6. Has equipment been drained/Process Materials Removed?
        </td>
        <td data-column="Last Name">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-6-yes"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-6-yes">Yes</label>
          </div>
        </td>
        <td data-column="Job Title">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-6-no"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-6-no">No</label>
          </div>
        </td>
        <td data-column="Twitter">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-6-na"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-6-na">N/A</label>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" data-column="First Name">
          7. Has equipment been drained/Process Materials Removed?
        </td>
        <td data-column="Last Name">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-7-yes"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-7-yes">Yes</label>
          </div>
        </td>
        <td data-column="Job Title">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-7-no"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-7-no">No</label>
          </div>
        </td>
        <td data-column="Twitter">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-7-na"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-7-na">N/A</label>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" data-column="First Name">
          8. Has equipment been drained/Process Materials Removed?
        </td>
        <td data-column="Last Name">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-8-yes"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-8-yes">Yes</label>
          </div>
        </td>
        <td data-column="Job Title">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-8-no"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-8-no">No</label>
          </div>
        </td>
        <td data-column="Twitter">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-8-na"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-8-na">N/A</label>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" data-column="First Name">
          9. Has equipment been drained/Process Materials Removed?
        </td>
        <td data-column="Last Name">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-9-yes"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-9-yes">Yes</label>
          </div>
        </td>
        <td data-column="Job Title">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-9-no"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-9-no">No</label>
          </div>
        </td>
        <td data-column="Twitter">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-9-na"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-9-na">N/A</label>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" data-column="First Name">
          10. Has equipment been drained/Process Materials Removed?
        </td>
        <td data-column="Last Name">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-10-yes"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-10-yes">Yes</label>
          </div>
        </td>
        <td data-column="Job Title">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-10-no"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-10-no">No</label>
          </div>
        </td>
        <td data-column="Twitter">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-10-na"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-10-na">N/A</label>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" data-column="First Name">
          11. Has equipment been drained/Process Materials Removed?
        </td>
        <td data-column="Last Name">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-11-yes"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-11-yes">Yes</label>
          </div>
        </td>
        <td data-column="Job Title">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-11-no"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-11-no">No</label>
          </div>
        </td>
        <td data-column="Twitter">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-11-na"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-11-na">N/A</label>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" data-column="First Name">
          12. Has equipment been drained/Process Materials Removed?
        </td>
        <td data-column="Last Name">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-12-yes"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-12-yes">Yes</label>
          </div>
        </td>
        <td data-column="Job Title">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-12-no"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-12-no">No</label>
          </div>
        </td>
        <td data-column="Twitter">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-12-na"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-12-na">N/A</label>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" data-column="First Name">
          13. Has equipment been drained/Process Materials Removed?
        </td>
        <td data-column="Last Name">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-13-yes"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-13-yes">Yes</label>
          </div>
        </td>
        <td data-column="Job Title">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-13-no"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-13-no">No</label>
          </div>
        </td>
        <td data-column="Twitter">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-13-na"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-13-na">N/A</label>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" data-column="First Name">
          14. Has equipment been drained/Process Materials Removed?
        </td>
        <td data-column="Last Name">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-14-yes"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-14-yes">Yes</label>
          </div>
        </td>
        <td data-column="Job Title">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-14-no"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-14-no">No</label>
          </div>
        </td>
        <td data-column="Twitter">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-14-na"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-14-na">N/A</label>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" data-column="First Name">
          15. Has equipment been drained/Process Materials Removed?
        </td>
        <td data-column="Last Name">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-15-yes"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-15-yes">Yes</label>
          </div>
        </td>
        <td data-column="Job Title">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-15-no"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-15-no">No</label>
          </div>
        </td>
        <td data-column="Twitter">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-15-na"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-15-na">N/A</label>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" data-column="First Name">
          16. Has equipment been drained/Process Materials Removed?
        </td>
        <td data-column="Last Name">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-16-yes"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-16-yes">Yes</label>
          </div>
        </td>
        <td data-column="Job Title">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-16-no"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-16-no">No</label>
          </div>
        </td>
        <td data-column="Twitter">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-16-na"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-16-na">N/A</label>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" data-column="First Name">
          17. Has equipment been drained/Process Materials Removed?
        </td>
        <td data-column="Last Name">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-17-yes"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-17-yes">Yes</label>
          </div>
        </td>
        <td data-column="Job Title">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-17-no"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-17-no">No</label>
          </div>
        </td>
        <td data-column="Twitter">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="Process-17-na"
              name="weekday-1"
              value="Friday"
              checked
            />
            <label for="Process-17-na">N/A</label>
          </div>
        </td>
      </tr>

      <!-- check box start -->
      <tr>
        <td colspan="4">
          P.P.E Required
        </td>
      </tr>
      <tr>
        <td style="margin: 35px">
          <div style="display: flex; align-items: center">
            <input
              style="width: 28px; height: 28px; margin: 0px 12px 0px 0px"
              type="checkbox"
            /><span>Helment</span>
          </div>
        </td>
        <td style="margin: 35px">
          <div style="display: flex; align-items: center">
            <input
              style="width: 28px; height: 28px; margin: 0px 12px 0px 0px"
              type="checkbox"
            /><span>Sefety belt</span>
          </div>
        </td>
        <td style="margin: 35px">
          <div style="display: flex; align-items: center">
            <input
              style="width: 28px; height: 28px; margin: 0px 12px 0px 0px"
              type="checkbox"
            /><span>Safety shoes, Gum Boot</span>
          </div>
        </td>
        <td style="margin: 35px">
          <div style="display: flex; align-items: center">
            <input
              style="width: 28px; height: 28px; margin: 0px 12px 0px 0px"
              type="checkbox"
            /><span>Nose Mask</span>
          </div>
        </td>
        <td style="margin: 35px">
          <div style="display: flex; align-items: center">
            <input
              style="width: 28px; height: 28px; margin: 0px 12px 0px 0px"
              type="checkbox"
            /><span>Hand Gloves</span>
          </div>
        </td>
      </tr>

      <!-- g2 -->
      <tr>
        <td style="margin: 35px">
          <div style="display: flex; align-items: center">
            <input
              style="width: 28px; height: 28px; margin: 0px 12px 0px 0px"
              type="checkbox"
            /><span>Helment</span>
          </div>
        </td>
        <td style="margin: 35px">
          <div style="display: flex; align-items: center">
            <input
              style="width: 28px; height: 28px; margin: 0px 12px 0px 0px"
              type="checkbox"
            /><span>Sefety belt</span>
          </div>
        </td>
        <td style="margin: 35px">
          <div style="display: flex; align-items: center">
            <input
              style="width: 28px; height: 28px; margin: 0px 12px 0px 0px"
              type="checkbox"
            /><span>Safety shoes, Gum Boot</span>
          </div>
        </td>

      </tr>

      <!-- g3 -->
      <tr>
        <td colspan="5" style="margin: 35px">
          <div style="display: flex; align-items: center">
            <input
              style="width: 28px; height: 28px; margin: 0px 12px 0px 0px"
              type="checkbox"
            /><span>Helment</span>
          </div>
        </td>
      </tr>
      <!-- check box end -->

      <tr style="margin-bottom: 35px">
        <td colspan="2" width="10" height="25">
          <input style="width: 80% ;" width="100%" value="Yes" />
        </td>

      </tr>

      <tr style="margin-bottom: 35px">
        <td colspan="4" width="10" height="25">
          <input style="width: 80% ;" width="100%" value="Joe Root2" />
        </td>

      </tr>
      {% endfor %}
    </table>
  </body>
</html>